.backgroung-top-section
{
    background-image: url("https://us.123rf.com/450wm/irinaqiwi/irinaqiwi1709/irinaqiwi170900625/85643809-diwali-festival-poster-diwali-holiday-shiny-background-with-diya-lamps-and-rangoli-vector-illustrati.jpg?ver=6");
    background-size: cover;
    height:30vh;
}

.top_section_heading{
    color:white;
    font-family: "caviet";
    font-size: 32px;
    padding-top: 30px;
    padding-left: 30px;
    font-style: italic;
    width: 50vh;
}

.bottom_section{
    background-color: #e6f6ff;
    padding: 20px;
}

.card_iteam{
    background-color: white;
    width:150px;
    border-radius: 10px;
    text-align: center;
}

.card_image{
    width: 60px;
    height:90px;
    padding: 5px;
}

.card_heading{
    font-family: "Arial";
    padding: 5px;
}