/* font-family: 'Arvo', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
:root{
    --main:1px solid;
    --parent:2px solid red;
    --child:2px solid green;
    --link_primary:#a1a1a1;
    --arvo:'Arvo', serif;
    --pop:'Poppins', sans-serif;
    --pro:'Source Sans Pro', sans-serif;
}
*{
    padding: 0%;
    margin: 0%;
}
