.main-heading{
    background-color: #5cf018;
    color: #0905ff;
    text-align: center;
   margin-left: 3vw;
   margin-right: 3vw;
   border-radius: 20px;
}

.rightside-message{
    text-align: right;
    color: #a32903;
    background-color: #9fe7d9;
    margin-left: 8vw;
    margin-right: 3vw;
    border-top-left-radius: 8px;
    bo
}